@import './tokens';

@mixin navNameMixin {
    position: sticky;
    top: 0;
    background-color: $color-main;
    height: 75px;
    left: 0;
    right: 0;
}

@mixin navListNameMixin {
    text-align: center;
        margin: 0;
        padding: 0;
        font-size: $font-size-m;
}

@mixin pictureNameMixin {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    height: 35%;
    border-radius: 50%;
}

@mixin MainDivNameMixin {
    font-size: $font-size-xl;
    padding-top: 70px;
    margin-bottom: 30px;
    text-align: center;
}

@mixin mainButtonNameMixi {
    font-size: $font-size-m;
    background-color: transparent;
    border: 2px solid $color-main;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 25px;
    margin-bottom: 100px;
}

@mixin portfolioSectionNameMixin {
    padding-top: 150px;
    padding-bottom: 100px;
    background-color: rgb(245, 236, 227);
    background-size: cover;
    
}

@mixin headerTitleNameMixin {
    text-align: center;
    font-size: $font-size-xl;
    margin: 50px;
}