$font-famili-1: 'Lato', sans-serif;
$color-main: #007bff;
$font-color-1: #777;
$font-size-xxl: 50px;
$font-size-xl: 25px;
$font-size-l: 20px;
$font-size-m: 16px;
$font-size-s: 12px;
$font-size-xs: 10px;

