@import './tokens';

html {
    font-family: $font-famili-1
}

body {
    margin: 0;
}

.nav {
    @include navNameMixin;
}

.picture--div {
    margin: 50px;
}

.picture {
    @include pictureNameMixin;
}

.main-div {
    @include MainDivNameMixin;
}

.main-header {
    @include mainHeaderNameMixin;
}

.button {
    text-align: center;
}

.main-button {
    @include mainButtonNameMixin;
}

.portfolioSection {
    @include portfolioSectionNameMixin;
}

.napisPortfolio {
    font-size: $font-size-l;
}

.header-title {
    @include headerTitleNameMixin;
}

.main-grid {
    @include mainGridNameMixin;
}

.grid-item {
    overflow: hidden;
}

.grid-img {
    @include gridImgNameMixin;
}

.div-kontakt {
    @include divKontaktNameMixin;
}

.form-div {
    text-align: center;
    margin-bottom: 200px;
}

input[type="text"i] {
    @include inputNameMixin;
}

::placeholder {
    font-size: $font-size-xs;
}

textarea {
    @include textareaNameMixin;
}

.social-footer {
    @include socialFooterNameMixin;
}