@import './tokens';


html {

    font-family: $font-famili-1
}

body {
    margin: 0;
}

.nav {
    @include navNameMixin;

    .list-nav {
        @include navListNameMixin;

        .nav-li {
            display: inline-block;
            width: 25%;
            margin-right: -4px;

            a {
                color: white;
                text-decoration: none;
                display: inline-block;
                padding: 26px;

                &:hover {
                    text-decoration: none;
                }

                &:visited {
                    text-decoration: none;
                }
            }
        }
    }
}

.picture--div {
    margin: 50px;

}

.picture {
    @include pictureNameMixin;
}

.main-div {
    @include MainDivNameMixin;

}

.main-header {
    @include mainHeaderNameMixin ;
    
}

.button {
    text-align: center;

}

.main-button {
    @include mainButtonNameMixin;
    
}

.portfolioSection {
    @include portfolioSectionNameMixin;

}

.napisPortfolio {
    font-size: $font-size-l;

}

.header-title {
    @include headerTitleNameMixin;
    
}

.main-grid {
    @include mainGridNameMixin;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(3, auto);
    grid-gap: none;
}

.grid-item {
    overflow: hidden;
}

.grid-img {
    width: 100%;

    &:hover {
        transform: scale(1.3);
        transition-duration: 1800ms;
        cursor: pointer;


    }
}

.div-kontakt {
    text-align: center;
    margin: 50px;
    padding-top: 40px;
    font-size: $font-size-l;
}


.form-div {
    text-align: center;
    margin-bottom: 200px;

}



input[type="text"i] {
    @include inputNameMixin;
    height: 25px;
    width: 50%;
    margin: 10px;
    padding: 10px;
    font-size: $font-size-m;

}


::placeholder {
    font-size: $font-size-xs;



}

textarea {
    @include textareaNameMixin;
    margin: 10px;
    width: 50%;
    height: 200px;
    padding: 10px;
    font-size: $font-size-m;
    font-family: $font-famili-1
}

.social-footer {
    @include socialFooterNameMixin;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 33%;
    margin-right: 33%;

    .fab {
        color: $color-main;


        &:visited {
            text-decoration: none;
        }

        &:hover {
            color: rgb(173, 147, 0);


        }
    }

}